# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
package-lock.json
yarn.lock

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Editor directories
.vscode
.idea

# Backup folders
_backup
